{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to MDone.</h1>

            {% if session['username'] %}
                <p>Let's get started.</p>
            {% else %}
                <p>Already registered? <a href="{{url_for('login') }}">Login</a></p>
            {% endif %}

            <div style="text-align:left;">
                <h2>Please note the deadline</h2>

                <p>Everyone's time is precious. Teammates do the extra work to have better results for the whole team, not to please you.</p>

                <p>Please take care to check if you have any uncompleted tasks. This is related to whether other people's tasks can be started or not.</p>

                </div>

        </div>
    </div>
{% endblock %}
