<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="../static/images/m-logo.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    MDone - light way for group work
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/paper-dashboard.css" rel="stylesheet" />
  <link href="../static/css/mian.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
          <div class="logo-image-small">
            <img src="{{ url_for('static',filename='images/m-logo.png')}}" >
          </div>
      </div>
      <div class="sidebar-wrapper">
        {% include "includes/nav.html" %}
      </div>
    </div>
    <div class="main-panel">
      {% include "includes/panel_nav.html" %}
      <div class="content">

        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
{#                <h5 class="card-title">focus</h5>#}
              </div>
              <div class="card-body ">
                {%  block content %}
                {% endblock %}
              </div>
{#              <div class="card-footer ">#}
{#                <hr>#}
{#                <div class="stats">#}
{#                  <i class="fa fa-history"></i> Updated 3 minutes ago#}
{#                </div>#}
{#              </div>#}
            </div>
          </div>
        </div>

      </div>

      {% include "includes/footer.html" %}

    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../static/js/core/jquery.min.js"></script>
  <script src="../static/js/core/popper.min.js"></script>
  <script src="../static/js/core/bootstrap.min.js"></script>
  <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="../static/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../static/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      demo.initChartsPages();
    });
  </script>
</body>

</html>
