    {% extends "layout.html" %}
    
    {% block content %}
    <h1>To Do List</h1>

    <!--  Display the Term and Year here --->
    <h3>Term: {{ term }}</h3>

    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Task ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Phases</th>
                <th scope="col">Enroll</th>
            </tr>
            </thead>
            <tbody>
            {% for data in taskData %}
            <tr>
                <td scope='row'>{{ data["courseID"] }}</td>
                <td>{{ data["title"] }}</td>
                <td>{{ data["description"] }}</td>
                <td>{{ data["term"] }}</td>
                <td>
                    <form action="{{ url_for('enrollment') }}" method="post">
                        <input type="hidden" name="courseID" value="{{data['courseID']}}">
                        <input type="hidden" name="title" value="{{data['title']}}">
                        <input type="hidden" name="term" value="{{data['term']}}">
                    <button class="btn btn-primary">Enroll</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    <button class="btn btn-outline-primary btn-round"><i class="fa-solid fa-file-plus"></i>Add new task</button>
    </div>

{% endblock %}