<ul class="nav">
    <li class="nav-link {% if index %}active{% endif %}">
    <a href="{{ url_for('index') }}"><i class="nc-icon nc-bank"></i><p>Home</p></a>
    </li>

    <li class="nav-link {% if tasks %}active{% endif %}">
    <a href="{{ url_for('tasks') }}"><i class="nc-icon nc-bullet-list-67"></i><p>Task List</p></a>
    </li>

    {% if not session['username'] %}
    <li class="nav-link {% if register %}active{% endif %}">
    <a href="{{ url_for('register') }}"><i class="nc-icon nc-simple-add"></i><p>Register</p></a>
    </li>

    <li class="nav-link {% if login %}active{% endif %}">
    <a href="{{ url_for('login') }}"><i class="nc-icon nc-single-02"></i><p>Login</p></a>
    </li>
    {% else %}
    <li class="nav-link {% if enrollment %}active{% endif %}">
    <a href="{{ url_for('enrollment') }}"><i class="nc-icon nc-check-2"></i><p>My Tasks</p></a>
    </li>

    <li class="nav-link {% if logout %}active{% endif %}">
    <a href="{{ url_for('logout') }}"><i class="nc-icon nc-simple-remove"></i><p>Logout</p></a>
    </li>
    {% endif %}

</ul>